@{
    ViewBag.Title = "Edit Review";
}
@section HeadScripts {
    @* SoundManager must be loaded as early as possible. Otherwise browser security may block Flash <-> JS communication after certain JQuery DOM manipulations by a third-party code. *@
    @Scripts.Render("~/bundles/soundmanager2")
    @Styles.Render(
"~/content/css-jqueryui"
    )

    @* Style typeahed dropdown menu for tags *@
    <style>
        div.tag-input-placeholder > ul.dropdown-menu {
            background-color: white;
        }

            div.tag-input-placeholder > ul.dropdown-menu > li > a {
                color: #333333;
            }

            div.tag-input-placeholder > ul.dropdown-menu > li.active > a {
                color: #333333;
                background-color: #ebebeb;
            }
    </style>
}
<div class="row">
    <div class="col-sm-2">
        <button id="saveButton" class="btn btn-primary btn-block" data-bind="command: saveCmd, activity: saveCmd.isExecuting">Save</button>
    </div>
    <div class="col-sm-5">
        <span data-bind="if: autoSaved">Auto-saved</span>
    </div>
    <div class="col-sm-3 text-right" data-bind="with: review">
        &nbsp;&nbsp;Started&nbsp;<span data-bind="text: startTime"></span>
        <br />
        <!-- ko if: finishTime -->
        Finished&nbsp;<span data-bind="text: finishTime"></span>
        <!-- /ko -->
        <span data-bind="ifnot: finishTime">&nbsp;&nbsp;Not finished</span>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block" data-bind="command: showFinishDialogCmd, activity: showFinishDialogCmd.isExecuting">Finish review</button><br />
    </div>
</div>
<br/>
<div id="editor">
    @Html.Partial("_PlayerPartial")
    <br />
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-large btn-block btn-primary" data-bind="command: addRemarkCmd">While listening, click here to mark a spot</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-hover" data-bind="if: remarks().length > 0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Spot</th>
                        <th>Remark</th>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: remarks">
                    <tr data-bind="click: $parent.selectRemark, css: $parent.getRemarkRowClass($data)">
                        <td class="replay-column">
                            <button class="btn btn-default btn-xs not-selected-hidden" data-bind="click: $parent.playRemarkSpot" title="Replay"><i class="fa fa-repeat"></i></button>
                        </td>
                        <td style="white-space: nowrap">
                            <div class="not-edited-hidden">
                                from&nbsp;
                                @* Don not break the following line. A line break adds a space between the button and the time text *@
                                <button class="btn btn-default btn-xs button-start-rewind" data-bind="click: $parent.shiftSpot" title="Shift spot start">&lsaquo;</button>
                                <span data-bind="text: formatStart"></span>
                                <button class="btn btn-default btn-xs button-start-forward" data-bind="click: $parent.shiftSpot" title="Shift spot start">&rsaquo;</button>
                                <br />
                                to&nbsp;
                                <button class="btn btn-default btn-xs button-finish-rewind" data-bind="click: $parent.shiftSpot" title="Shift spot end">&lsaquo;</button>
                                <span data-bind="text: formatFinish"></span>
                                <button class="btn btn-default btn-xs button-finish-forward" data-bind="click: $parent.shiftSpot" title="Shift spot end">&rsaquo;</button>
                            </div>
                            <div class="edited-hidden">
                                from&nbsp;<span data-bind="text: formatStart"></span>
                                to&nbsp;<span data-bind="text: formatFinish"></span>
                            </div>
                        </td>
                        <td class="text-column">
                            <span class="edited-hidden" data-bind="text: text"></span>
                            <textarea rows="2" cols="40" class="not-edited-hidden" data-bind="value: text, valueUpdate: 'afterkeydown'"></textarea>
                        </td>
                        <td class="tag-column">
                            <span class="edited-hidden" data-bind="text: tags"></span>

                            <div class="not-edited-hidden">
                                <div class="not-edited-hidden tag-input-placeholder"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs not-edited-hidden" data-bind="click: $parent.deleteRemark" title="Delete">&times;</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<div data-bind="text: ko.toJSON($root.remarks())"></div>*@
<div id="dialogDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dialogDeleteLabel"><strong>Delete remark</strong></h4>
            </div>
            <div class="modal-body">
                <p>The remark will be deleted permanently.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="command: deleteCmd, activity: deleteCmd.isExecuting">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogFinish" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogFinishLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="dialogFinishLabel" class="modal-title">Finish review</h4>
            </div>
            <div class="modal-body">
                Do you want to finish editing the review?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="command: finishCmd, activity: finishCmd.isExecuting">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<input type="text" id="tagInput" data-bind="value: tagValue, visible: selectedRemark()">

@using (Html.BeginInstructionsContainer())
{
    <li>As you add and edit your remarks, the changes you make are automatically saved every minute. You may be prompted to save changes manually on page exit.</li>
}
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
    @Scripts.Render(
"~/Scripts/xcopy/bootstrap3-typeahead.js",
"~/App/Utils/utils-tag-list.js",
"~/App/Reviews/edit-vm.js"
    )
}

