@{
    ViewBag.Title = "Edit Review";
}
@section HeadScripts {
    @* SoundManager must be loaded as early as possible. Otherwise browser security may block Flash <-> JS communication after certain JQuery DOM manipulations by a third-party code. *@
    @Scripts.Render("~/bundles/soundmanager2")
    @Styles.Render(
"~/content/css-jqueryui"
    )

    @* Style typeahed dropdown menu for tags *@
    <style>
        div.tag-input-placeholder > ul.dropdown-menu {
            background-color: white;
        }

            div.tag-input-placeholder > ul.dropdown-menu > li > a {
                color: #333333;
            }

            div.tag-input-placeholder > ul.dropdown-menu > li.active > a {
                color: #333333;
                background-color: #ebebeb;
            }
    </style>
}
<div ng-app="app" ng-controller="Edit" ng-cloak>

    <div class="row">
        <div class="col-sm-2">
            <button id="saveButton" class="btn btn-primary btn-block" ng-click="vm.save()" ng-disabled="!vm.isDirty || vm.isSaving">Save</button>
        </div>
        <div class="col-sm-5">
            <span ng-show="vm.autoSaved">Auto-saved</span>
        </div>
        <div class="col-sm-3 text-right">
            &nbsp;&nbsp;Started&nbsp;{{vm.review.startTime | appDateTime}}
            <br />
            <span ng-show="vm.review.finishTime">Finished&nbsp;{{vm.review.finishTime | appDateTime}}</span>
            <span ng-hide="vm.review.finishTime">&nbsp;&nbsp;Not finished</span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-block" data-bind="command: showFinishDialogCmd, activity: showFinishDialogCmd.isExecuting">Finish review</button><br />
        </div>
    </div>
    <br />
    <div id="editor">
        @Html.Partial("_PlayerPartial")
        <br />
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-large btn-block btn-primary" ng-disabled="!vm.canAddRemark()" ng-click="vm.addRemark()">While listening, click here to mark a spot</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Spot</th>
                            <th>Keywords</th>
                            <th>Remark</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="r in vm.remarks">
                        <tr ng-click="vm.selectRemark(r)" ng-class="vm.getRemarkRowClass(r)">
                            <td class="replay-column">
                                <button class="btn btn-default btn-xs not-selected-hidden" ng-click="vm.playRemarkSpot(r)" title="Replay"><i class="fa fa-repeat"></i></button>
                            </td>
                            <td style="white-space: nowrap">
                                <div class="not-edited-hidden">
                                    from&nbsp;
                                    @* Don not break the following line. A line break adds a space between the button and the time text *@
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(true, -1000)" title="Shift spot start">&lsaquo;</button>
                                    {{r.start | appMsecToMinSec}}
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(true, 1000)" title="Shift spot start">&rsaquo;</button>
                                    <br />
                                    to&nbsp;
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(false, -1000)" title="Shift spot end">&lsaquo;</button>
                                    {{r.finish | appMsecToMinSec}}
                                    <button class="btn btn-default btn-xs" ng-click="vm.shiftSpot(false, 1000)" title="Shift spot end">&rsaquo;</button>
                                </div>
                                <div class="edited-hidden">
                                    from&nbsp;{{r.start | appMsecToMinSec}}
                                    to&nbsp;{{r.finish | appMsecToMinSec}}
                                </div>
                            </td>
                            <td class="tag-column">
                                <span class="edited-hidden">{{r.tags}}</span>

                                <div class="not-edited-hidden">
                                    @*<div class="not-edited-hidden tag-input-placeholder"></div>*@
                                    <input type="text" ng-model="r.tags">
                                </div>
                            </td>
                            <td class="text-column">
                                <span class="edited-hidden">{{r.text}}</span>
                                <textarea rows="2" cols="40" class="not-edited-hidden" ng-model="r.text"></textarea>
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs not-edited-hidden" data-bind="click: $parent.deleteRemark" title="Delete">&times;</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div data-bind="text: ko.toJSON($root.remarks())"></div>*@
    <div id="dialogDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dialogDeleteLabel"><strong>Delete remark</strong></h4>
                </div>
                <div class="modal-body">
                    <p>The remark will be deleted permanently.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="command: deleteCmd, activity: deleteCmd.isExecuting">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="dialogFinish" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogFinishLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="dialogFinishLabel" class="modal-title">Finish review</h4>
                </div>
                <div class="modal-body">
                    Do you want to finish editing the review?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="command: finishCmd, activity: finishCmd.isExecuting">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <input type="text" id="tagInput" data-bind="value: tagValue, visible: selectedRemark()">

</div>

@using (Html.BeginInstructionsContainer())
{
    <li>As you add and edit your remarks, the changes you make are automatically saved every minute. You may be prompted to save changes manually on page exit.</li>
}
@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
    @Scripts.Render(
            //"~/bower_installer/bootstrap3-typeahead/bootstrap3-typeahead.min.js",
            //"~/App/Shared/utils-tag-list.js",
"~/App/Reviews/edit-app.js"
    )
}
