@{
    ViewBag.Title = "Review audio recording";
    ViewBag.NavItem = "Reviews";
}
<div ng-app="myApp">

    @Html.Partial("_SplashPartial")

    <div ng-controller="EditRecording" ng-cloak>

        @Html.Partial("_TopSaveButtonPartial")

        @Html.Partial("_CardPartial")

        <div ng-controller="AudioPlayer">
            <div class="text-center app-margin-top app-margin-bottom" ng-show="!vma.player">
                <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>&nbsp;&nbsp;Loading&nbsp;...
            </div>
            <div ng-show="vma.player">

                @Html.Partial("_AudioPlayerControlsPartial")

                <div class="row app-margin-top">
                    <div class="col-sm-12">
                        <button class="btn btn-large btn-block btn-primary" ng-show="vma.isNotFinished()" ng-disabled="!vma.canAddRemark()" ng-click="vma.addRemark()">
                            While listening, click here to mark a spot
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default app-margin-top">
                <div class="panel-heading">
                    <h4 class="panel-title">Remarks</h4>
                </div>
                <div class="panel-body" style="padding:0">
                    <table class="table table-condensed table-hover app-margin-bottom-none">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Spot</th>
                                <th>Correction</th>
                                <th>Comment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in vma.$appRemarks.remarks" ng-click="vma.selectRemark(r)" ng-class="{warning: vma.isHighlighted(c), 'app-last-row':$last}">
                                <td>
                                    <button class="btn btn-default btn-xs" ng-show="vma.isSelected(r)" ng-click="vma.playRemarkSpot(r)" title="Replay"><i class="fa fa-repeat"></i></button>
                                </td>
                                <td class="text-nowrap">
                                    <div ng-show="vma.isEditing(r)">
                                        @* A line break adds a space between the text and the button *@
                                        from
                                        <button class="btn btn-default btn-xs" ng-click="vma.shiftSpot(r, true, -1);vm.makeDirty(r)" title="Shift spot start"><i class="fa fa-angle-left"></i></button>
                                        {{r.start | appSecToMinSec}}
                                        <button class="btn btn-default btn-xs" ng-click="vma.shiftSpot(r, true, 1);vm.makeDirty(r)" title="Shift spot start"><i class="fa fa-angle-right"></i></button>
                                        <br />to
                                        <button class="btn btn-default btn-xs" ng-click="vma.shiftSpot(r, false, -1);vm.makeDirty(r)" title="Shift spot end"><i class="fa fa-angle-left"></i></button>
                                        {{r.finish | appSecToMinSec}}
                                        <button class="btn btn-default btn-xs" ng-click="vma.shiftSpot(r, false, 1);vm.makeDirty(r)" title="Shift spot end"><i class="fa fa-angle-right"></i></button>
                                    </div>
                                    <div ng-show="!vma.isEditing(r)">
                                        from&nbsp;{{r.start | appSecToMinSec}}
                                        to&nbsp;{{r.finish | appSecToMinSec}}
                                    </div>
                                </td>
                                <td width="35%">
                                    <textarea rows="3" style="box-sizing: border-box;width:100%;" ng-show="vma.isEditing(r)" ng-model="r.correction" ng-change="vm.makeDirty(r)"></textarea>
                                    <span ng-show="!vma.isEditing(r)">{{r.correction || 'Click here to edit'}}</span>
                                </td>
                                <td width="35%">
                                    <textarea rows="3" style="box-sizing: border-box;width:100%;" ng-show="vma.isEditing(r)" ng-model="r.comment" ng-change="vm.makeDirty(r)"></textarea>
                                    <span ng-show="!vma.isEditing(r)">{{r.comment}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" title="Delete remark" ng-show="vma.isEditing(r)" ng-click="vm.showDeleteRemarkModal(r)">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div><!-- ng-controller="AudioPlayer" -->
        @Html.Partial("_BottomPartial")

    </div><!-- /ng-controller="EditRecording" -->
</div>

@*@using (Html.BeginInstructionsContainer())
    {
        <ul>
            <li>As you are adding and editing your remarks, the changes are automatically saved every minute. You may be prompted to save changes manually on page exit.</li>
        </ul>
    }*@
@section BottomScripts {
    <script>
        app.exerciseParam = @JavaScriptConvert.Serialize(ViewBag.ExerciseParam);
        app.cardIdParam = @JavaScriptConvert.Serialize(ViewBag.cardIdParam);
        app.cardParam = @JavaScriptConvert.Serialize(ViewBag.cardParam);
    </script>
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
//<script src="+//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
"~/bower_installer/angular-touch/angular-touch.min.js",
"~/bower_installer/venturocket-angular-slider/angular-slider.min.js",

"~/app/shared/library-data.js",

"~/app/shared/utils-player.js",
"~/app/shared/exercises.js",
"~/app/shared/exercises-recording.js",
"~/app/exercisesIelts/utils-data.js",
"~/app/reviews/utils-editCtrlBase.js",
"~/app/reviews/editRecording.js"
)
}