@{
    ViewBag.Title = "Review of writing";
    ViewBag.NavItem = "Reviews";
}
<div ng-app="myApp" ng-controller="EditWriting" ng-cloak>

    @Html.Partial("_TopSaveButtonPartial")

    @* @Html.Partial("_TopCardPartial")*@

    @* @Html.Partial("_CanvasPartial")*@

    @Html.Partial("_BottomPartial")

</div> <!-- /ng-app -->
@section BottomScripts {
    <script>
        app.exerciseParam = @JavaScriptConvert.Serialize(ViewBag.ExerciseParam);
        app.cardParam = @JavaScriptConvert.Serialize(ViewBag.cardParam);
    </script>
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",

"~/app/shared/library-data.js",
"~/app/shared/exercises.js",
"~/app/shared/exercises-writing.js",
"~/app/exercisesIelts/utils-data.js",
"~/app/reviews/utils-editCtrlBase.js",
"~/app/reviews/editWriting.js"
)
}


