@{
    ViewBag.Title = "Exercise";
}
@section HeadScripts {
    @Html.Partial("_HeadScriptsPartial")

    @*+http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.css*@
    @Styles.Render("~/bower_installer/animate.css/animate.min.css");
}

<div ng-app="app" ng-controller="Viewer" ng-cloak>

    <div ng-hide="vm.soundLoaded">
        <i class="fa fa-spinner fa-spin fa-2x"></i>&nbsp;&nbsp;Loading the recording...
        <br />&nbsp;
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon"><strong>Title</strong></span>
                <input type="text" class="form-control" ng-model="vm.exercise.title">
                <span class="input-group-addon" ng-show="!vm.isTitleDirty()">&nbsp;</span>
                <span class="input-group-btn" ng-show="vm.isTitleDirty()">
                    <button type="button" class="btn btn-default" ng-click="vm.saveTitle()">
                        <i class="fa fa-check app-fa-green animated flash app-fa-pulse"></i><span>&nbsp;Save</span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-md-3 text-right">
            Created&nbsp;{{vm.exercise.createTime | appDateTime}}
        </div>
    </div>

    <br />
    <br />
    <div id="editor" ng-show="vm.soundLoaded">
        @Html.Partial("_PlayerPartial")
        <br />
        <div ng-show="vm.reviews.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Spot</th>
                                <th>Remark</th>
                                <th>Keywords</th>
                                <th ng-if="vm.reviews.length > 1">Reviewer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in vm.remarks" ng-click="vm.selectRemark(r)">
                                <td class="app-btn-cell">
                                    <button class="btn btn-default btn-xs" ng-show="vm.isSelected(r)" ng-click="vm.playRemarkSpot(r)" title="Replay"><i class="fa fa-repeat app-fa-btn-xs"></i></button>
                                </td>
                                <td style="white-space: nowrap">
                                    from&nbsp;{{r.start | appMsecToMinSec}}
                                    to&nbsp;{{r.finish | appMsecToMinSec}}
                                </td>
                                <td>
                                    {{r.text}}
                                </td>
                                <td>
                                    {{r.keywords}}
                                </td>
                                <td ng-if="vm.reviews.length > 1">
                                    {{vm.getReviewerName(r)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-repeat="rv in vm.reviews">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Comment - {{rv.reviewerName}}</h3>
                        </div>
                        <div class="panel-body">
                            <span style="white-space: pre-line;">{{rv.comment}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Practice and Learning Suggestions - {{rv.reviewerName}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="s in r.suggestions">
                                    <span>{{s.text}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /ng-show="vm.soundLoaded" -->
</div><!-- /ng-controller="Viewer" -->
@using (Html.BeginInstructionsContainer())
{
    <li>You can edit the title of the exercise.</li>
    <li>You can listen to the record.</li>
    <li>If a review for the exercise is available, you can see remarks made by the reviewer.</li>
    <li>You can listen to the same remark spot many times by clicking the button with the circular arrow</li>
    @*    <li>There may be a tag for a remark. By clicking on it you will be redirected to an external website which may help you to understand the remark.</li>*@
    <li>If you want to mark a remark for future reference, you can select the checkbox for that remark.</li>
}

@section BottomScripts {
    @Html.Partial("_BottomScriptsPartial")
    @Scripts.Render(
"~/App/Reviews/view-app.js"
    )
}
