@{
    ViewBag.NavItem = "IeltsExercises";
    ViewBag.Title = "IELTS Exercises";
}
<div ng-app="myApp" ng-cloak>
    <div ng-controller="Index">

        <div class="row">
            <div class="col-md-offset-1 col-md-10">

                <div class="panel panel-default app-margin-bottom-none">
                    <div class="panel-body text-center">
                        <h4 class="app-margin-top-none">Practice IELTS tests</h4>
                        <h4 class="app-margin-bottom-none" style="line-height:1.8;">
                            <span class="text-nowrap app-margin-left">
                                <i class="fa fa-pencil-square-o fa-fw app-appblue"></i> @Html.ActionLink("Writing Task 1", "Writing", new { Id = "task-1" })
                            </span>
                            <span class="text-nowrap app-margin-left">
                                <i class="fa fa-pencil fa-fw app-appblue app-1px-up"></i> @Html.ActionLink("Writing Task 2", "Writing", new { Id = "task-2" })
                            </span>
                            <span class="text-nowrap app-margin-left">
                                <i class="fa fa-comment-o fa-fw app-appblue app-2px-up"></i> @Html.ActionLink("Speaking", "Speaking")
                            </span>
                            <span class="text-nowrap app-margin-left">
                                <i class="fa fa-volume-up fa-fw app-appblue"></i> @Html.ActionLink("Listening", "Listening")
                            </span>
                            <span class="text-nowrap app-margin-left">
                                <i class="fa fa-newspaper-o fa-fw app-appblue"></i> @Html.ActionLink("Reading", "Reading")
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <h4 class="text-center app-margin-top-none">Exercise list</h4>
                <table class="table app-margin-bottom-none">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'app-last-row':$last}" ng-repeat="e in vm.exercises">
                            <td><i class="fa fa-fw" ng-class="vm.getIcon(e.serviceType).name" title="{{vm.getIcon(e.serviceType).title}}"></i></td>
                            <td>
                                <a ng-href="{{vm.getViewUrl(e)}}">{{e.title}}</a>
                            </td>
                            <td>
                                {{e.creationTime | appDateHuman}}
                            </td>
                            <td>
                                <ul class="app-margin-bottom-none">
                                    <li class="app-row-review" ng-repeat="r in e.reviews">
                                        <span ng-class="vm.getReviewStatusStyle(r)"><strong>{{vm.getReviewStatusText(r)}}</strong></span>
                                        &nbsp;{{vm.getReviewStatusTime(r) | appDateHuman}}
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xs" ng-show="!e.reviews || e.reviews.length == 0" ng-click="vm.showCreateRequestModal(e)">Request&nbsp;review</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted text-center" style="margin-top:19px;" ng-show="vm.isEmpty()" ng-cloak>
                    You have not done any exercises yet.
                </p>
                <div class="pagination-sm" data-pagination data-total-items="vm.pgTotal" data-items-per-page="vm.pgLimit" data-max-size="5" data-boundary-links="true" data-rotate="false"
                     ng-show="vm.pgTotal>vm.pgLimit" ng-model="vm.pgCurrent" ng-change="vm.pgLoad()"></div>
            </div>
        </div>

    </div><!-- /ng-controller="Index" -->
</div><!-- /ng-app="myApp" -->
@section BottomScripts {
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/exercises/utils.js",
"~/app/exercisesIelts/index.js"
)
}




