@{
    ViewBag.NavItem = "IeltsExercises";
    ViewBag.Title = ServiceType.GetTitle(ServiceType.IeltsSpeaking);
    ViewBag.SecondaryTitle = "Exercise";
}
@section HeadScripts {
    @Scripts.Render("~/bundles/swfobject")
    @Styles.Render("~/bundles/animate-css")

    <style>
        object:focus {
            outline: none;
        }

        .my-muted {
            /*color: lightgray;*/
            opacity: 0.2;
            text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
        }
    </style>
}
@* Do not use ng-cloak on the root div. We insert a Flash player below. *@
<div ng-app="myApp" ng-controller="SpeakingDesktop">
    <div class="row" ng-cloak>

        <div class="col-lg-6">
            <div class="text-center">
                <div class="alert alert-danger" role="alert" ng-show="!vm.flashFound" ng-cloak>
                    <p>
                        To record speech you need to install Adobe Flash Player to your browser.
                        <a href="http://get.adobe.com/flashplayer" target="_blank">Download&nbsp;it&nbsp;from&nbsp;Adobe</a>
                    </p>
                </div>

                @* Be carefull with an ng-cloak over a Flash. It may cause problems in IE. *@
                <div id="toBeReplacedByAudiorSwfObject"></div>

                <div style="margin-top:17px;" ng-cloak>
                    @Html.Partial("_NotAuthenticatedSpanPartial")
                    <button class="btn btn-default app-btn-disablable" ng-class="{'btn-lg': vm.canSave()}" ng-disabled="!vm.canSave()" ng-click="vm.save()">
                        <i class="fa fa-lg app-1px-up"
                           ng-class="{'fa-check fa-fw text-success animated flash infinite':vm.canSave(), 'fa-spinner fa-spin fa-fw app-appblue':vm.uploading}"></i>
                        <span>Save recording</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-offset-2 col-lg-offset-0 col-md-8 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <button class="btn" ng-class="vm.card ? 'btn-default btn-xs' : 'btn-primary'" ng-click="vm.showChooseCardModal()">Choose questions</button>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            @* Include ngSanitize when using ng-bind-html *@
                            <table class="app-margin-top" ng-show="vm.card">
                                <tr ng-repeat="part in [0, 1, 2]">
                                    <td>
                                        <div ng-repeat="i in vm.getItems(part)" ng-class="{'my-muted': vm.currentPart != part}">
                                            <p ng-bind-html="i.contents"></p>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-xs app-margin-left-half" ng-click="vm.setPart(part)">Show part <strong>{{part + 1}}</strong></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<ul>
            <li ng-repeat="i in vm.events">
                {{i.time}} | {{i.event}}
            </li>
        </ul>*@
</div>
@*@using (Html.BeginInstructionsContainer())
    {
        <ul>
            <li>Choose the topic for your speech.</li>
            <li>If there is more than one microphone available, you will see an option at the top of the recorder panel to select the appropriate one.</li>
            <li>Press the big round button to start recording.</li>
            <li>If you record for the first time, you will be present with a <em>Settings</em> dialog. Select <em>Allow</em> and <em>Remember</em>, then press the <em>Close</em> button. The dialog will no more appear after that.</li>
            <li>Imagine you are speaking to your English teacher.</li>
            <li>Speak clearly and loudly.</li>
            <li>Don't start talking right away. Take a moment to collect yourself. Take a deep breath and begin speaking.</li>
            <li>The current record duration is indicated in minutes and seconds at the bottom of the recorder panel, before the slash. The time limit is indicated after the slash, it is 5 minutes.</li>
            <li>You may pause recording by pressing the small round button.</li>
            <li>Press the big round button to stop recording.</li>
            <li>After you have finished recording, wait while the record is being processed and uploaded to the website. It may take a couple of minutes.</li>
            <li>
                Here is the template that you can use to retell a story
                <ul>
                    <li>Who were the main characters?</li>
                    <li>What problem did the main characters experience?</li>
                    <li>What happened first, next, and last?</li>
                    <li>How did the story end?</li>
                    <!--<li>How was the problem solved?</li>-->
                </ul>
            </li>
        </ul>
    }*@
@section BottomScripts {
    <script>
        app.serviceTypeParam = @JavaScriptConvert.Serialize(ServiceType.IeltsSpeaking);
    </script>
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/app/exercises/utils.js",
"~/app/exercisesIelts/utils.js",
"~/app/exercisesIelts/speakingDesktop.js"
)}
