@model IEnumerable<string>
@{
    ViewBag.Title = "Record exercise";
    var swfUrl = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/Content/Audior/Audior.swf";
    var redirectUrl = "/exercises";

    //"7374617274737065616b696e67656e676caurc8be6973682e636f6d3f6c6f63616c686f7374aurc0c2c4baceba139"; // startspeakingenglish.com,   localhost
    //"7265766965776d79656e676c6973682e636f6d3f73746172747370aurc8be65616b696e67656e676c6973682e636f6d3f6c6f63616c686f7374aurc0c2c4baceba1fd"; // reviewmyenglish.com,   startspeakingenglish.com,   localhost
    // "6469676e69636f6d2e636faurc8be6d3f6c6f63616c686f7374aurc0c2c4bacebac3"; // dignicom.com, localhost
    // 656e676c632e636f6d3f617a75726577656273aurc8be697465732e6e65743f6c6f63616c686f7374aurc0c2c4baceba149  englc.com + azurewebsites.net + localhost
    var licenseKey = "656e676c632e636f6d3f617a75726577656273aurc8be697465732e6e65743f6c6f63616c686f7374aurc0c2c4baceba149";    
}
@section HeadScripts {
    <style type="text/css" media="screen">
        object:focus {
            outline: none;
        }

        #flashContainer {
            text-align: center;
        }

        #flashContent {
            display: none;
        }
    </style>

    @Scripts.Render("~/bundles/swfobject")

    <script type="text/javascript">
        var swfVersionStr = "10.2.0";
        var xiSwfUrlStr = "";

        var flashvars = {};
        flashvars.lstext = "Loading...";
        flashvars.recorderId = "@ViewBag.TopicId";
        flashvars.userId = "@ViewBag.TopicShortTitle";
        flashvars.licenseKey = '@licenseKey';

        var params = {};
        params.quality = "High";
        params.bgcolor = "#ffffff";
        params.allowscriptaccess = "sameDomain";
        params.allowfullscreen = "false";
        params.base = '/Content/Audior/';

        var attributes = {};
        attributes.id = "Audior";
        attributes.name = "Audior";
        attributes.align = "middle";

        swfobject.embedSWF(
            "@Html.Raw(swfUrl)",
            "flashContent",
            "600", "142",
            swfVersionStr, xiSwfUrlStr,
            flashvars, params, attributes);
        swfobject.createCSS("#flashContent", "display:block;text-align:left;");

        function onEncodingDone(duration, recorderId) {
            document.Audior.save();
        }

        function onUploadDone(success, recordName, duration, recorderId) {
            window.location = '@Html.Raw(redirectUrl)';
        }

        //function onMicAccess(allowed, recorderId) {
        //}

        //function onFlashReady(recorderId) {
        //}
    </script>
}

@* SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough
    JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show when JavaScript is disabled. *@
<div id="flashContainer">
    <div id="flashContent">
        <p>
            To view this page ensure that Adobe Flash Player version 10.2.0 or greater is installed in your browser.
        </p>
        <p>
            <a href="http://get.adobe.com/flashplayer" target="_blank">Get Adobe Flash Player</a>
        </p>
    </div>
</div>
<noscript>
    You need to have JavaScript enabled for the recorder to show.
</noscript>

<br />&nbsp;
@if(ViewBag.TopicTitle != null)
{
<div class="row">
    <div class="col-sm-offset-3 col-sm-1">
        <strong>Topic:</strong>
    </div>
    <div class="col-sm-8">
        @ViewBag.TopicTitle
        <ul>
            @foreach (var item in Model)
            {
                <li>@(item)</li>
            }
        </ul>
    </div>
</div>
}
@using (Html.BeginInstructionsContainer())
{
    <li>If there is more than one microphone available, you will see an option at the top of the panel to select the appropriate one.</li>
    <li>Press the big round button to start recording.</li>
    <li>If you record for the first time, you will be present with a <em>Settings</em> dialog. Select <em>Allow</em> and <em>Remember</em>, then press the <em>Close</em> button. The dialog will no more appear after that.</li>
    <li>If you feel nervous, it may help to imagine you are speaking to your English teacher.</li>   
    <li>Don't start talking right away. Take a moment to collect yourself. Take a deep breath and begin speaking.</li>   
    <li>Speak clearly and loudly.</li>  
    <li>The current record duration is indicated in minutes and seconds at the bottom of the panel, before the slash. The time limit is indicated after the slash, it is 5 minutes.</li>
    <li>You may pause recording by pressing the small round button.</li>
    <li>Press the big round button to stop recording.</li>
    <li>After you have finished recording, wait while the record is being processed and uploaded to the website.</li>
}