@{
    ViewBag.Title = "Writing";
}
@section HeadScripts {
    @Styles.Render(
"~/bundles/animate-css",
"~/bower_installer/ng-tags-input/ng-tags-input.min.css",
"~/bower_installer/ng-tags-input/ng-tags-input.bootstrap.min.css"
)
}
@* Do not hide the video player! See the comments in the partial. *@
<div ng-app="myApp" ng-controller="ViewWriting">

    @Html.Partial("_TitlePartial")

    @Html.Partial("_CanvasPartial")

    @Html.Partial("_BottomPartial")

</div> <!-- /ng-app -->
@section BottomScripts {
    <script type="text/javascript">
        var app = app || {};
        app.exerciseParam = @JavaScriptConvert.Serialize(ViewBag.ExerciseParam);
        app.hostPageParam = 'HostPage_ViewWriting';
    </script>
    @Scripts.Render(
"~/bundles/angular",
"~/bundles/angular-libs",
"~/bundles/ext-libs",
"~/bundles/app-utils",
"~/bower_installer/ng-tags-input/ng-tags-input.min.js",
"~/bower_installer/signalr/jquery.signalR.min.js",
"~/app/shared/library-data.js",
"~/app/shared/library.js",
"~/app/shared/exercises.js",
"~/app/shared/exercises-writing.js",
"~/app/exercises/createReviewRequest.js",
"~/app/exercises/utils-viewCtrlBase.js",
"~/app/exercises/viewWriting.js"
)
}


