<span class="text-muted">&copy;&nbsp;@DateTime.Now.Year</span>
@Html.ActionLink("English Cosmos", "EnglishCosmos", "Info", null, new { @class = "credit" })
<span class="pull-right">
    @Html.ActionLink("About", "About", "info")
    @Html.ActionLink("How it works", "HowItWorks", "Info")
    @Html.ActionLink("FAQ", "Faq", "Info")
    @Html.ActionLink("Support", "Support", "Info")
    @Html.ActionLink("Terms", "TermsOfService", "Info")
    @Html.ActionLink("Privacy", "PrivacyPolicy", "Info")
</span>
<br />&nbsp;
