@model Runnymede.Website.Models.PageViewModel
@functions{
    public string NavClass(string navItem)
    {
        return navItem == ViewBag.NavItem ? "active" : "";
    }
}
@{
    var avatarUrl = AzureStorageUtils.GetBlobUrl(AzureStorageUtils.ContainerNames.AvatarsSmall, Runnymede.Common.Utils.KeyUtils.IntToKey(Model.UserId), Request.IsSecureConnection);
}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            @*<div class="navbar-brand app app-collapsable-brand">*@
            <div class="navbar-brand app">
                @Html.ActionLink("Englisharium", "Index", "Home", null, new { @class = "app-appyellow", @style = "text-decoration:none;" })
            </div>
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
            <button type="button" class="navbar-toggle" style="padding:4px 10px 5px;" data-toggle="collapse" data-target="#headerCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span style="color:white;font-size:15px;">Menu<b class="caret"></b></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="headerCollapse">
            <ul class="nav navbar-nav app">
                <li class="dropdown app-dropdown-hover @NavClass("Exercises")">
                    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">Exercises<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Speaking", "Index", "Exercises", null, null, "/speaking", null, new { tabindex = "-1" })</li>
                        <li>@Html.ActionLink("Writing", "Index", "Exercises", null, null, "/writing", null, new { tabindex = "-1" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Reviews of exercises", "Index", "Reviews", null, new { tabindex = "-1" })</li>
                    </ul>
                </li>
                <li class="dropdown app-dropdown-hover @NavClass("Conversations")">
                    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">Conversations<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Sessions", "Index", "Sessions")</li>
                        <li>@Html.ActionLink("Friends", "Index", "Friends")</li>
                    </ul>
                </li>
                <li class="dropdown app-dropdown-hover @NavClass("Games")">
                    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">Games<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Pick a picture", "PickAPic", "Games", null, new { tabindex = "-1" })</li>
                        <li>@Html.ActionLink("Copycat", "Copycat", "Games", null, new { tabindex = "-1" })</li>
                    </ul>
                </li>
                <li class="@NavClass("Library")">@Html.ActionLink("Library", "Index", "Library")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right app">
                @if (Request.IsAuthenticated)
                {
                    @*<li><img id="navAvatar" class="hidden-xs" style="margin:4px;" width="32" height="32" src="@avatarUrl" title="@Model.DisplayName" /></li>*@
                    <li>
                        @Html.Raw(
                        @Html.ActionLinkWithProtocol("[replacetext]", "Edit", "Account", "https", new { tabindex = "-1", @class = "app-collapsable-avatar", @style = "padding:4px;" })
                        .ToHtmlString()
                        .Replace("[replacetext]", "<img id=\"navAvatar\" width=\"32\" height=\"32\" src=\"" + @avatarUrl + "\" title=\"" + @Model.DisplayName + "\" />")
                    )
                    </li>
                    <li class="dropdown app-dropdown-hover @NavClass("Account")">
                        <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">@Model.DisplayName<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLinkWithProtocol("Profile", "Edit", "Account", "https", new { tabindex = "-1" })</li>
                            <li>@Html.ActionLinkWithProtocol("Balance", "Balance", "Account", "https", new { tabindex = "-1" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLinkWithProtocol("Log out", "Logout", "Account", "http", new { tabindex = "-1" })</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="@NavClass("Account")">@Html.ActionLinkWithProtocol("Log in", "Login", "Account", "https", null)</li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
