@{
    var pageViewModel = new Runnymede.Website.Models.PageViewModel(this);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Englisharium</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @*<link href='+http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> //Roboto bold looks ugly in Chrome. *@
    @Styles.Render("~/bundles/app-css")
    @RenderSection("HeadScripts", required: false)
    @if (!Html.IsDebug())
    {
        @Html.Partial("_GoogleAnalyticsPartial")
    }
</head>
<body>
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/info/unsupported-browser";
        }
    </script>
    <![endif]-->
    @*<!-- The header is not in a container -->*@
    <header>
        @Html.Partial("_HeaderPartial", pageViewModel)
    </header>
    <section class="container">
        @if (ViewBag.Title != null)
        {
            <h3 class="page-header app">
                @ViewBag.Title
                @if (ViewBag.SecondaryTitle != null)
                {
                    <small>@ViewBag.SecondaryTitle</small>
                }
            </h3>
        }
        @RenderBody()
    </section>
    @*<!-- The footer separator is not in a container and goes full page width -->*@
    <hr style="border-color:#ac1f28" />@* appRed *@
    <footer class="container app-footer">
        @Html.Partial("_FooterPartial")
    </footer>
    @* bootstrap.js is needed for the dropdown menu in the top navbar and for scrollspy in the Info controller pages *@
    @Scripts.Render(
"~/bundles/jquery",
"~/bundles/bootstrap"
        )
    @if (Request.IsAuthenticated)
    {
        <script type="text/javascript">
            var app = app || {};
            app.selfUserParam = @Html.Raw(pageViewModel.SelfUserParamJson);
        </script>
    }
    @RenderSection("BottomScripts", required: false)
</body>
</html>
