@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeadTitle = "Practice speaking English";
    ViewBag.NavItem = "Home";
    bool isAuthenticated = Request.IsAuthenticated;
}
<style type="text/css">
    .my-centered {
        text-align: center;
    }

    h3.my-header {
        margin-top: 0;
        margin-bottom: 14px;
        color: #ac1f28; /* appRed */
        text-align: center;
    }
</style>
<br />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <h3 class="app-jumbotron-heading">Learn English naturally. Learn the language by speaking it!</h3>
        </div>
    </div>
    <div class="row">
        <div class="@(isAuthenticated ? "col-md-offset-2 col-md-8" : "col-md-offset-1 col-md-8")" style="font-size:larger;">
            <ul>
                <li>Find speaking partners or practice individually.</li>
                <li>Record your conversations and speeches.</li>
                <li>Have your exercises reviewed and corrected by teachers.</li>
                <li>Analyze statistics of your mistakes.</li>
            </ul>
        </div>
        @if (!isAuthenticated)
        {
            <div class="col-md-3 my-centered">
                <br />&nbsp;
                @Html.ActionLink(HttpUtility.HtmlDecode("Try it for free"), "Signup", "Account", null, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
        }
    </div>
</div>

<div style="font-size:larger;">
    <hr class="app-separator" />
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5 my-centered">
            <h3 class="my-header">Learners</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <p>
                You cannot learn to speak English by reading textbooks or watching movies. You need to practice it. And you need feedback to know whether you are speaking correctly.
            </p>
        </div>
        <div class="col-sm-5 my-centered">
            <img src="/Content/Images/do-you-speak-english.jpg" class="img-responsive img-thumbnail" width="250" height="170" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <p>
                But the problem is that most people do not like making mistakes publicly, and teachers do not like interrupting students by pointing out every single mistake.
            </p>
        </div>
        <div class="col-sm-5 my-centered">
            <img src="/Content/Images/shy-learner.jpg" class="img-responsive img-thumbnail" width="250" height="170" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <p>
                There is an idea on how to practice speaking English more comfortably. A teacher can be given a tool to provide feedback to a learner’s speech after it is done, by annotating a record of the speech. This way, we avoid embarrassing the learner. Learners also get the opportunity to analyze statistics of their mistakes and adjust their learning plan accordingly.
            </p>
            <p>@Html.ActionLink("More...", "HowItWorks", "Info")</p>
        </div>
        <div class="col-sm-5 my-centered">
            <img src="/Content/Images/learner-teddybear.jpg" class="img-responsive img-thumbnail" width="250" height="170" />
        </div>
    </div>
    <hr class="app-separator" />
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5 my-centered">
            <h3 class="my-header">Teachers</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <p>
                Although Skype is an awesome teaching medium, scheduling sessions with parties scattered around the globe is a cumbersome process. Now you can ignore time zones and work even while learners are sleeping. Work the way you want and get paid.
            </p>
            <p>@Html.ActionLink("More...", "HowItWorks", "Info")</p>
        </div>
        <div class="col-sm-5 my-centered">
            <img src="/Content/Images/teacher.jpg" class="img-responsive img-thumbnail" width="250" height="170" />
        </div>
    </div>
    <hr class="app-separator" />
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5 my-centered">
            <h3 class="my-header">&nbsp;All together</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <p>
                If you want to find a conversation partner, you are welcome to join the directory of the learners and teachers who are available on Skype. In this case, learners are also able to record fragments of their Skype conversations and get them reviewed by teachers.
            </p>
        </div>
        <div class="col-sm-5 my-centered">
            <img src="/Content/Images/skype-together.jpg" class="img-responsive img-thumbnail" width="250" height="170" />
        </div>
    </div>
    @if (!isAuthenticated)
    {
        <hr class="app-separator" />
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                @Html.ActionLink(HttpUtility.HtmlDecode("Try it for free"), "Signup", "Account", null, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
        </div>
    }





</div>
@*<br />&nbsp;*@
