@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeadTitle = "Home";
    ViewBag.NavItem = "HomeIndex";
    bool isAuthenticated = Request.IsAuthenticated;
}
<div class="jumbotron">
    <div class="row">
        @if (isAuthenticated)
        {
            <div class="col-sm-offset-1 col-sm-10" style="font-size:smaller;">
                <h3 class="app-jumbotron-heading">Learn English naturally!</h3>
                <p>
                    We learn by making mistakes and correcting them. To have someone else to point out our mistakes means we are learning faster. Here you have an opportunity to learn English faster.
                </p>
            </div>
        }
        else
        {
            <div class="col-sm-offset-1 col-sm-7" style="font-size:smaller;">
                <h3 class="app-jumbotron-heading">Learn English naturally!</h3>
                <p>
                    We learn by making mistakes and correcting them. To have someone else to point out our mistakes means we are learning faster. Here you have an opportunity to learn English faster.
                </p>
            </div>
            <div class="col-sm-3" style="text-align:center;">
                <h2>&nbsp;</h2>
                @Html.ActionLink(HttpUtility.HtmlDecode("Let's try"), "Create", "Account", null, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
        }
    </div>
</div>
<div style="font-size:larger;">
    @Html.HrSeparator("col-sm-12")
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5" style="text-align:center;">
            <img src="~/Content/Images/learner.jpg" class="img-responsive img-thumbnail" width="280" height="186" alt="learner" />
        </div>
        <div class="col-sm-5">
            <h3>Learners</h3>
            <p>
                You cannot learn to speak English only by reading textbooks or watching movies. You need to practice it. @*The more you speak, the better you will speak.*@ At this website you can speak whenever you want, whatever you want, as much as you want.
            </p>
            <p>@Html.ActionLink("More...", "About", "Info")</p>
        </div>
    </div>
    @Html.HrSeparator("col-sm-12")
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <h3>Tutors</h3>
            <p>
                Help learners to find difficulty areas and to measure the progress. Ignore time zones, you can work even when learners sleep and vice versa. Work the way you want and get paid.
            </p>
            <p>@Html.ActionLink("More...", "HowItWorks", "Info")</p>
        </div>
        <div class="col-sm-5" style="text-align:center;">
            <img src="~/Content/Images/tutor.jpg" class="img-responsive img-thumbnail" width="280" height="186" alt="tutor" />
        </div>
    </div>
    @Html.HrSeparator("col-sm-12")
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5" style="text-align:center;">
            <img src="~/Content/Images/cooperation.jpg" class="img-responsive img-thumbnail" width="280" height="186" alt="cooperation" />
        </div>
        <div class="col-sm-5">
            <h3>Cooperation</h3>
            <p>
                Learners need to practice speaking English like a skill, for example, boxing. By analogy with boxing, they need examples to follow, and they need feedback from tutors to know whether they are doing it correctly.
            </p>
            <p>@Html.ActionLink("More...", "About", "Info")</p>
        </div>
    </div>
    @Html.HrSeparator("col-sm-12")
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <p>
                You need to practice speaking English aloud. And you need somebody to give you feedback on your speeches. But the problem is that most learners do not like making mistakes publicly. And teachers do not like interrupting learners by pointing out every single mistake.
            </p>
            <p>
                At this website you will find the solution to that problem.
            </p>
        </div>
    </div>
</div>
@if (!isAuthenticated)
{
    <div class="row">
        <div class="col-sm-offset-7 col-sm-3">
            @Html.ActionLink(HttpUtility.HtmlDecode("Let's try"), "Create", "Account", null, new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
    </div>
}
&nbsp;<br />